<!--The content below is only a placeholder and can be replaced.-->
<div class="app" style="text-align:center">
	<h1>
		Welcome to {{ title }}!
	</h1>
	<div class="search">
		<input type="text" [(ngModel)]="todo" />
		<button type="button" (click)="addTodo(todo)">Add</button>
	</div>
	<p *ngIf="!!todo">Typing: {{ todo }}</p>
	<ol class="todo-list" type="1">
		<li class="todo-item" *ngFor="let todo of todos;">
			<span>{{ todo.name }}</span>
			<a class="remove" href="#" (click)="removeTodo(todo)">[X]</a>
		</li>
	</ol>
</div>
